.projects {
  width: 100%;
  max-width: 1440px;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px 20px 55px;

  background: #161513;
}

.projects-title {
  display: block;

  width: 182px;
  height: 36px;
}

.projects-cards {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  gap: 25px;

  margin-top: 20px;
}

.project-image {
  display: block;

  width: 390px;
  height: 301px;
}

@media (max-width: 850px) {
  .projects-cards {
    flex-direction: column;
    align-items: center;
  }

  .project-image {
    width: 390px;
    max-width: 100%;
    height: auto;
  }
}