.header {
  position: relative;

  width: 100%;
  max-width: 1440px;

  margin: 0 auto;

  background: #161513;
}

.header-image {
  display: block;

  width: 100%;
  height: auto;
}

.header-links {
  position: absolute;

  top: 0;
  right: 0;

  width: 58%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 70px;
}

.header-links a {
  color: transparent;

  width: 90px;
  height: 35px;

  text-decoration: none;
}

@media (max-width: 900px) {
  .header-links {
    gap: 25px;
  }

  .header-links a {
    width: 65px;
  }
}